:root {
  --color-000: #000;
  --color-0a0a0a: #0a0a0a;
  --color-0e9989: #0e9989;
  --color-0e9a97: #0e9a97;
  --color-1091: #1091;
  --color-10b981: #10b981;
  --color-1153: #1153;
  --color-123: #123;
  --color-128a3a: #128a3a;
  --color-1497: #1497;
  --color-14b8a6: #14b8a6;
  --color-1677ff: #1677ff;
  --color-16c3af: #16c3af;
  --color-16c3af33: #16c3af33;
  --color-17bfbd: #17bfbd;
  --color-18a29b: #18a29b;
  --color-1912: #1912;
  --color-1942: #1942;
  --color-1a7126: #1a7126;
  --color-1defd6: #1defd6;
  --color-2078: #2078;
  --color-2080: #2080;
  --color-2134: #2134;
  --color-2249: #2249;
  --color-22c55e: #22c55e;
  --color-245: #245;
  --color-2551b2: #2551b2;
  --color-26a69a: #26a69a;
  --color-2715: #2715;
  --color-2b5ddf: #2b5ddf;
  --color-2c57bb: #2c57bb;
  --color-333: #333;
  --color-3666: #3666;
  --color-3964c6: #3964c6;
  --color-3b67d0: #3b67d0;
  --color-3ba776: #3ba776;
  --color-3e4343: #3e4343;
  --color-3e8e41: #3e8e41;
  --color-4096: #4096;
  --color-414: #414;
  --color-4167c0: #4167c0;
  --color-466: #466;
  --color-476582: #476582;
  --color-4815: #4815;
  --color-4caf50: #4caf50;
  --color-5154: #5154;
  --color-5523: #5523;
  --color-578: #578;
  --color-5f6060: #5f6060;
  --color-666: #666;
  --color-674: #674;
  --color-7256: #7256;
  --color-73b378: #73b378;
  --color-8236: #8236;
  --color-872: #872;
  --color-888: #888;
  --color-93b3e2: #93b3e2;
  --color-93c5fd: #93c5fd;
  --color-94a3b8: #94a3b8;
  --color-955: #955;
  --color-a3a3a3: #a3a3a3;
  --color-aaa: #aaa;
  --color-b0b0b0: #b0b0b0;
  --color-b42839: #b42839;
  --color-baecc9: #baecc9;
  --color-bbf7d0: #bbf7d0;
  --color-bdbdbd: #bdbdbd;
  --color-bf1f2b: #bf1f2b;
  --color-c49646: #c49646;
  --color-c7d6fa: #c7d6fa;
  --color-c8f0d3: #c8f0d3;
  --color-cad7ff: #cad7ff;
  --color-cad8fd: #cad8fd;
  --color-ccc: #ccc;
  --color-d08415: #d08415;
  --color-d32f2f: #d32f2f;
  --color-d79334: #d79334;
  --color-d8f5e2: #d8f5e2;
  --color-d9d9d9: #d9d9d9;
  --color-ddd: #ddd;
  --color-e0e0e0: #e0e0e0;
  --color-e1e5e5: #e1e5e5;
  --color-e2e8f0: #e2e8f0;
  --color-e3ecff: #e3ecff;
  --color-e5e5e5: #e5e5e5;
  --color-e5e7eb: #e5e7eb;
  --color-eb2f96: #eb2f96;
  --color-eee: #eee;
  --color-ef4444: #ef4444;
  --color-efc2c2: #efc2c2;
  --color-f0f0f0: #f0f0f0;
  --color-f0f4ff: #f0f4ff;
  --color-f2f2f2: #f2f2f2;
  --color-f3eeee: #f3eeee;
  --color-f3f3f3: #f3f3f3;
  --color-f4f4f6: #f4f4f6;
  --color-f4f7f9: #f4f7f9;
  --color-f5222d: #f5222d;
  --color-f59e0b: #f59e0b;
  --color-f5ccc9: #f5ccc9;
  --color-f6f7f8: #f6f7f8;
  --color-f7f7f7: #f7f7f7;
  --color-f8e0b5: #f8e0b5;
  --color-f9cdca: #f9cdca;
  --color-f9cdcb: #f9cdcb;
  --color-f9f9f9: #f9f9f9;
  --color-fddede: #fddede;
  --color-ffddad: #ffddad;
  --color-ffecc6: #ffecc6;
  --color-fff: #fff;
  --color-ffffff: #ffffff;
}